*{

  margin: 10px;
  padding: 10px;
  box-sizing: border-box;

}

.header {
  background: #000;
}
  .nombre{
    background: #4A403A;
  } 
      h1{
        background: #137420;
      }
  .profesion{
    background: #A45D5D;
  }
  h2{
    background: #0499f0;
  }

  .foto{
    background: #FFC069;
  }
.section {
  background: #000;
}

.footer {
  background: #000;
}

