*{

  margin: 10px;
  padding: 10px;
  box-sizing: border-box;

} 


body{
  font-family: 'Montserrat', sans-seri
}
.padre{
  display: flex;
}
    .header {
      display: flex;
      flex-flow: row;
      background: #000;
    }

    .titulos{
      display: flex;
      flex-flow: column;
      flex: 10 1 auto;
      background: #ca875d;
      }
          .nombre{

            background: #4A403A;
          } 
              h1{
                background: #137420;
              }
          .profesion{
            background: #A45D5D;
          }
            h2{
              background: #0499f0;
            }

    .foto{
        flex: 2 1 auto;
        display: flex;
        justify-content: center;
        background: #FFC069;
      }
    .section {
      background: #000;
      display: flex;
    }
      .articulos {
        
        background: #0F00FF;
        flex:2 1 auto;
        display: flex;
        flex-flow: column;

      }
          .datosPersonal {

            background: #1597E5;
            flex:1 1 auto

          }
      .aside{

        background: #9D84B7;
        flex:1 1 auto;
        display: flex;
        flex-flow: column;
      }
        .datosLavoreles{

          background: #B2F9FC;
        }

    .footer {
      background: #000;
      display: flex;
      justify-content: center;
    }

      .pie{
        background: #4E9F3D;
      }


@media all and (max-width: 800px){

  .section{
    flex-direction: column;
  }
  .header {
    flex-direction: column;
  }


}
  

